
.header {
  height: 120px;
  background-image: linear-gradient(0, #806dec, #01051b);
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

.header__navbar{
  display: flex;
  justify-content: space-between;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
  z-index: 1;
}


.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item_has-qr:hover .header_qr{
  display: block;
}

.header__navbar-item:hover,
.header__navbar-icon_link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item__strong {
  font-weight: 600;
}


.header__navbar-item__seperate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fff;
  height: 12px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon_link {
  color: #fff;
  text-decoration: none;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 0.8rem;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-title__no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header_qr {
  background: #fff;
  width: 186px;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 8px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}

.header_pr::before{
  position: absolute;
  left: 0;
  top: -16;
  width: 100%;
  height: 20px;
  content: " ";
  display: block;
  color:#fff;
}
.header_qr-apps {
  display: flex;
  justify-content: space-between;
}

.header_qr-img {
  width: 100%;

}

.header_qr-download-img {
  height: 16px;
  margin: 0 11px;
}

.header-notify {
  position: absolute;
  top: 100%;
  width: 404px;
  width: 404px;
  background-color: #dbd8e7;
  right: 0;
  cursor: default;
  user-select: none;
  transform-origin: 100%;
  animation: headerNotifyGrowth ease-in 0.3 ;
  display: none;

}

.header-notify::before {
  content: "";
  border-style: solid;
  border-width: 20px 26px;
  border-color: transparent transparent #dbd8e7 transparent;
  right: 0px;
  top: -28px;
  position: absolute;
}

.header-notify::after {
  content: "";
  display: block;
  position: absolute ;
  right: 0;
  top: -16px;
  width: 90px;
  height: 20px;
}
@keyframes headerNotifyGrowth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.header__navbar-item-has_notify:hover .header-notify{
  display: block;
}
.header-notify h3{
  color: #999;
  font-size: 16px;
  margin : 0 0 0 12px;
  font-weight: 400px;
  line-height: 40px;
}

.header-notify_header {

}

.header-notify_list {
  padding-left: 0;
}

.header-notify_item {
  display: flex;

}

.header-notify_item:hover {
  background-color: rgb(223, 220, 233);
}

.header__notify-item--viewed {
  background-color: rgb(212, 205, 236);
}

.header-notify_link {
  display: flex;
  width: 100%;
  text-decoration: none;
  padding: 12px;
}

.header-notify_info {

}

.header-notify_name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 600;
  margin-left: 11px;
  line-height: 1.8rem;
}

.header-notify_discription {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color:#756F6E;
  margin-left: 11px;
  margin-top: 0.6rem;
}

.header-notify_img{
  width: 48px;
}

.header-notify_footer {
  display: flex;

}
.header-notify_footer_btn {
  text-decoration: none;
  color: var(--black-color);
  padding: 16px 16px;
  margin: auto;
}

.header-notify_footer_btn:hover {
  background-color: rgb(223, 220, 233);

}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}



/* authen_modal */
.auth_form-container {
  padding: 0 32px;
}

.auth_form {
  width: 500px;
}

.auth_form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth_form_heading {
  font-size: 2.2rem;
  font-weight: 400;
  color : var(--text-color)
}

.auth_form-control,
.auth_form-policy {
  margin-left: 32px;
}


.auth_form_switch-btn {
  font-size: 1.6rem;
  color: #131b88;
  font-weight: 200;
  cursor: pointer;
}

.auth_form_input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  border-color: 1px solid #dbdbdb;
  border-radius: 2px;
  font-size: 1.4rem;
}

.auth_form-control:focus {
  border-color: #070118;
}

.auth_form-aside {
  margin-top: 20px;
}

.auth_form-policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  padding: 0 12px;
}

.auth_form-policy_link {
  text-decoration: none;
}

.auth_form-control {
  margin-top: 80px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.auth_form-socials {
  background-color: #f5f5f5;
  padding: 2px 36px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  line-height: 36px;
}

.auth_form-control-back {
  margin-right: 8px;
}

.auth_form-socials_icon {
  font-size: 1.8rem;
}

.auth_form-socials_icon_fb {
  color: var(--white-color);

}

.btn--size-s {
  background-color: #3A5A98;
  color: var(--white-color);
}

.auth_form-socials_icon_fb
.auth_form-socials_icon{
  color: var(--white-color);
}

.auth_form-socials_icon_gg {
  color: var(--white-color);
}

.btn--size-t {
  background-color: #535050;
  color: var(--white-color);
}

.auth_form-socials_title {
  margin: 0 24px;
  font-size: 14px;
}

.auth-form_help {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.auth-form_help_link {
  text-decoration: none;
  margin-left: 10px;
  font-size: 1.4rem;
}


.auth-form_help_separate {
  content: "";
  display: block;
  border-left: 1px solid #a53939;
  right: 0px;
  top: 50%;
  margin-left: 10px;
  justify-content: center;
}

.auth-form_help_forgot {
  color: var(--xanh-color);

}
.auth-form_help_Help {
  color: var(--text-color);
}

.header_with_search{
  height: var(--header_with_search_height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo_img{
  width: 150px;
  color: var(--white-color);
}

.header_search {
  background-color: var(--white-color);
  height: 40px;
  flex: 0.9;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header_search_buy {
  height: 100%;
  width: 100%;
  flex : 1;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 3px;
}

.header_cart {
  width: 150px;
  text-align: center;
}

.header_cart_img {
  font-size: 3rem;
  color: var(--white-color);
}

.header_search_select {
  border-left: solid 1px #ccc;
  position: relative;
  cursor: pointer;
}

.header_search_buy_lable {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header_search_buy_lable_icon1 {
  font-size: 1.4rem;
  color: #4A4A4A;
  margin: 0 16px 0px 8px;
}

.header_search_buy_lable_icon2 {
  font-size: 1.6rem;
  color: #4A4A4A;
  background-color: #363968;
  color: var(--white-color);
  border: none;
  margin-right: 3px;
  height: 34px;
  width: 36px;
  cursor: pointer;
}

.header_search_option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 129px;
  box-shadow: 0 0 3px #ccc;
  padding-left: 0;
  border-radius: 3px;
  /* overflow: hidden; */
  display: none;
}

.header_search_select:hover .header_search_option {
  display: block;
}

.header_search_option::after{
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  position: absolute;
}
.header_search_option_item {
  list-style: none;
  background-color: white;
  padding: 8px 8px;
  cursor: pointer;
}

.header_search_option_item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header_search_option_item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}


.header_search_option_item:hover {
  background-color: #9394d3;

}

.header_search_option_item span {
  font-size: 1.4rem;
  color: var(--text-color);

}

.header_search_option_item i {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header_search_option_item i {
  display: inline-block;
  margin-left: 8px;
}

.header_search_input_wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.heading_search_histoy {

}

.header_search_history_item {
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 10px;


}

.header_search_buy:focus ~ .header_search_history {
  display: block;
}

.header_search_history {
  position: absolute;
  background-color: rgb(224, 213, 240);
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 3px #666;
  display: none;
}

.header_search_history h3 {
  font-size: 15px;
  padding: 0px 5px;

}


.header_search_history_item {
  height: 38px;
  padding: 0 12px;

}
.header_search_history_item a {
  text-decoration: none;
  color: #070118;
  display: block;
  line-height: 38px;
}


.header_search_history_item:hover {
  background-color: #f1eaea;
}

.header_search_history_heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  color:#999;

}

.heading_search_histoy_list {
  padding-left: 0px;
}

.header_search_histoy_list:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header_search_histoy_list:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}